/* Стили для контейнера */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка профиля */
.profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.profile-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-header h2 {
  font-size: 36px;
  margin: 0;
}

/* Стили для информации профиля */
.profile-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-info li {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-info li strong {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.banner {
  height: 100px;
  background-color: rgba(128, 128, 128, 0.5);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.banner-container {
  padding: 60px;
}

.banner1 {
  padding: 60px;
  width: 80%;
  margin: 0 20px;
}