<!DOCTYPE html>
{% load static %}


<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Webcam Test</title>
  </head>
  <body>
    <h1>Webcam Test</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <script>
      // запрашиваем доступ к веб-камере
      navigator.mediaDevices.getUserMedia({video: true})
        .then(function(stream) {
          var video = document.getElementById("video");
          // устанавливаем источник видеопотока на video element
          video.srcObject = stream;
          video.play();
        })
        .catch(function(err) {
          console.log("Ошибка при доступе к веб-камере: " + err);
        });
    </script>
  </body>
</html>
